{% extends 'chow/layouts/main.html' %}
{% block content %}

<h1>Your Shopping Cart</h1>
 
    <div class="product-list">
    {% for food in cart_items %}
    <div class="product-item">
        <p>{{ food.product.name }} ({{ food.product_quantity }})</p>
        <p>Price: ${{ food.product.price }}</p>
        <a href="{% url 'cart:remove_from_cart' food.id %}">Remove</a>
    </div>
    {% empty %}
    <p>Your cart is empty.</p>
    {% endfor %}
 
    </div>
 
    <p>Total Price: Rs.{{ total_price }}</p>
 
    <a href="{% url 'menu' %}">Continue Shopping</a>
 
{% endblock content %}