{% extends 'chow/layouts/main.html' %}
{% load static %}
{% block content%}
<div>
    <marquee behavior="" direction=""><h4 style="color: brown; font-size: 50px;">Your Order has been placed successfully</h4></marquee>
</div>
<center>
    <img style="height:180px; width: 300px;" src="{% static 'images/chowb.png' %}" alt="">
</center>
<div>
    <marquee behavior="" direction=""><h4 style="color:darkblue; font-size: 30px;">The Chow Bear will contact you shortly! Your Tummy's BFF!</h4></marquee>
</div>
{% endblock content%}